# CI / build pipeline
/.github/workflows/     @BuchiNy
/.github/ISSUE_TEMPLATE/   @BuchiNy
/.github/pull_request_template.md   @BuchiNy
/.github/CODEOWNERS   @Wiza-Munthali

/lib/firebase_options.dart   @Wiza-Munthali
